---
import RootLayout from "../layouts/RootLayout.astro";
import SendIcon from "../assets/icons/SendIcon.astro";
import Button from "../components/Button.astro";
import Input from "../components/Input.astro";
---

<RootLayout>
  <main class="grid grid-rows-[1fr_auto] rounded-3xl bg-primary-light p-4">
    <!-- Chat ui -->
    <div></div>
    <!-- Chat input -->
    <form class="mx-auto grid w-full max-w-2xl grid-cols-[1fr_auto] [&>*]:p-4">
      <Input type="text" placeholder="Enter Your Prompt" />
      <Button btn title="Submit">
        <SendIcon />
      </Button>
    </form>
  </main>
</RootLayout>
