---
import Button from "../components/Button.astro";
import Input from "../components/Input.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <main class="rounded-3xl bg-primary-light px-6 py-4">
    <h1 class="text-3xl font-bold">Settings</h1>
    <form action="" class="mt-6 flex flex-col">
      <label for="url">API Url</label>
      <Input id="url" class="mt-2 p-4" type="url" placeholder="API Url" />
      <label for="key" class="mt-4">API Key</label>
      <Input id="key" class="mt-2 p-4" type="password" placeholder="API Key" />
      <Button
        btn
        class="mt-4 max-w-max bg-primary px-6 shadow-sm hover:!bg-primary-lighter"
      >
        Save
      </Button>
    </form>
  </main>
</RootLayout>
