---
import Button from "../components/Button.astro";
import Input from "../components/Input.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <main class="bg-primary-light rounded-3xl px-6 py-4">
    <h1 class="text-3xl font-bold">Settings</h1>
    <form action="" class="mt-6 flex flex-col">
      <label for="url">API Url</label>
      <Input id="url" class="p-4 mt-2" type="url" placeholder="API Url" />
      <label for="key" class="mt-4">API Key</label>
      <Input id="key" class="p-4 mt-2" type="password" placeholder="API Key" />
      <Button
        btn
        class="mt-4 max-w-max px-6 bg-primary hover:!bg-primary-lighter shadow-sm"
      >
        Save
      </Button>
    </form>
  </main>
</RootLayout>
