---
type Props =
  | ({ btn: true } & astroHTML.JSX.ButtonHTMLAttributes)
  | ({
      btn: false;
    } & astroHTML.JSX.AnchorHTMLAttributes);

const { btn, class: className, ...rest } = Astro.props;
---

{
  btn ? (
    <button
      {...(rest as any)}
      class={`rounded-lg p-2 transition-colors hover:bg-white/20 ${className}`}
    >
      <slot />
    </button>
  ) : (
    <a
      {...rest}
      class={`rounded-lg p-2 transition-colors hover:bg-white/20 ${className}`}
    >
      <slot />
    </a>
  )
}
